﻿@using Raido.WageJournal.Contracts.ComplexTransferObjects
@using LocalizedText = Raido.WageJournal.Web.Areas.Companies.Localization.LocalizedText
@using SharedText = Raido.WageJournal.Web.Views.Localization.Shared.LocalizedText
@model EmployeeAndDeductions


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">@string.Format(LocalizedText.DeductionListingTitle, Model.Employee.Name)</h4>
</div>
<div class="modal-body">
    <div class="panel">
        <div class="container-fluid deduction-listing" data-reload-url="@Url.Action(MVC.Companies.Deductions.DeductionListingItems(Model.Employee.Identifier, Model.Employee.CompanyIdentifier))">
            @Html.Partial("Partial/DeductionListingItems", Model.Deductions)
        </div>
    </div>
    <div class="text-right">
        <a class="btn btn-primary new-deduction" href="javascript:;">@SharedText.NewItemButtonText</a>
    </div>
    <div class="deduction-details" data-details-url="@Url.Action(MVC.Companies.Deductions.Details(Model.Employee.Identifier,Guid.Empty))">

    </div>
</div>
<div class="modal-footer">
    <a class="btn btn-default" data-dismiss="modal" href="javascript:;">@SharedText.CloseButtonText</a>
</div>