﻿@using LocalizedText = Raido.WageJournal.Web.Areas.Companies.Localization.LocalizedText
@model IList<Raido.WageJournal.Contracts.DataTransferObjects.Deduction>

@for (int i = 0; i < Model.Count; i++)
{
<div class="row deduction-row" data-identifier="@Model[i].Identifier">
    <div class="col-xs-6 col-md-3">
        <a href="javascript:;" class="glyph-wrapper"><i class="glyphicon glyphicon-search"></i></a>
        @Model[i].Description
    </div>
    <div class="col-xs-6 col-md-3">
        @Html.DisplayFor(model => model[i].Amount, new { decimals = 2 })
    </div>
    <div class="col-xs-6 col-md-3">
        @LocalizedText.FromDateLabelText
        @Html.DisplayFor(model => model[i].EffectiveFrom)
    </div>
    <div class="col-xs-6 col-md-3">
        @LocalizedText.ToDateLabelText
        @Html.DisplayFor(model => model[i].EffectiveTo)
    </div>
</div>
}