﻿@using Raido.WageJournal.Contracts.DataTransferObjects
@using SharedText = Raido.WageJournal.Web.Views.Localization.Shared.LocalizedText
@using LocalizedText = Raido.WageJournal.Web.Areas.Companies.Localization.LocalizedText
@using Raido.WageJournal.Contracts.SelectListOptions

@model Deduction

@{
    var deduction = Model ?? new Deduction();

    IList<SelectListItem> cronOptions = new List<SelectListItem>();
    for (int i = 0; i < Cron.CronOptions.Count; i++)
    {
        cronOptions.Add(new SelectListItem() { Text = SharedText.ResourceManager.GetString(Cron.CronOptions[i].Key), Value = Cron.CronOptions[i].Value, Selected = deduction.Cron == Cron.CronOptions[i].Value });
    }
}

@using (Html.BeginForm(MVC.Companies.Deductions.SaveDeduction(deduction.EmployeeIdentifier, deduction.Identifier, null), FormMethod.Post, new { id = "DeductionDetailsForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => deduction.DeductionId)
    @Html.HiddenFor(model => deduction.CompanyIdentifier)
    @Html.HiddenFor(model => deduction.Identifier)
    <div class="row">
        <div class="col-xs-12 col-sx-6 col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => deduction.Description)
                @Html.ValidationMessageFor(model => deduction.Description)
                @Html.TextBoxFor(model => deduction.Description, new { required = "required", @class = "form-control", placeholder = LocalizedText.DeductionDescriptionTextboxPlaceholder })
            </div>
        </div>
        <div class="col-xs-12 col-sx-6 col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => deduction.Amount)
                @Html.ValidationMessageFor(model => deduction.Amount)
                @Html.TextBoxFor(model => deduction.Amount, new { required = "required", @class = "form-control", placeholder = LocalizedText.AmountTextboxPlaceholder, type = "number" })
            </div>
        </div>
        <div class="col-xs-12 col-sx-6 col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => deduction.EffectiveFrom)
                @Html.ValidationMessageFor(model => deduction.EffectiveFrom)
                @Html.TextBoxFor(model => deduction.EffectiveFrom, new
           {
               required = "required",
               @class = "form-control date-pickers",
               placeholder = LocalizedText.EffectiveFromTextboxPlaceholder,
               type = "date",
               @Value = deduction.EffectiveFrom.HasValue ? deduction.EffectiveFrom.Value.ToShortDateString() : string.Empty
           })
            </div>
        </div>
        <div class="col-xs-12 col-sx-6 col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => deduction.EffectiveTo)
                @Html.ValidationMessageFor(model => deduction.EffectiveTo)
                @Html.TextBoxFor(model => deduction.EffectiveTo, new
           {
               @class = "form-control date-pickers",
               placeholder = LocalizedText.EffectiveToTextboxPlaceholder,
               type = "date",
               @Value = deduction.EffectiveTo.HasValue ? deduction.EffectiveTo.Value.ToShortDateString() : string.Empty
           })
            </div>
        </div>
        <div class="col-xs-12 col-sx-6 col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => deduction.Cron)
                @Html.DropDownListFor(model => deduction.Cron, cronOptions, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-xs-12 col-sx-6 col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => deduction.IsActive)
                @Html.ValidationMessageFor(model => deduction.IsActive)
                @Html.CheckBoxFor(model => deduction.IsActive)
            </div>
        </div>
    </div>
}