﻿@using LocalizedText = Raido.WageJournal.Web.Areas.Companies.Localization.LocalizedText

@model Guid
@{
    ViewBag.Title = LocalizedText.WageSummaryFilterPageTitle;

    Dictionary<DayOfWeek, int> closestSundaySearch = new Dictionary<DayOfWeek, int>(){
        {DayOfWeek.Sunday,0},
        {DayOfWeek.Monday,-1},
        {DayOfWeek.Tuesday,-2},
        {DayOfWeek.Wednesday,-3},
        {DayOfWeek.Thursday,-4},
        {DayOfWeek.Friday,-5},
        {DayOfWeek.Saturday,-6}
    };
    DateTime today = DateTime.Today;
    DateTime closestSunday = today.AddDays(closestSundaySearch[today.DayOfWeek]);
    DateTime mondayBeforeTheSunday = closestSunday.AddDays(-6);
}


<h2>@ViewBag.Title</h2>
<div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="StartDateTextBox">@LocalizedText.FromDateLabelText</label>
                <input name="StartDateTextBox" id="StartDateTextBox" type="date" class="form-control date-pickers"
                       value="@mondayBeforeTheSunday.ToShortDateString()"
                       placeholder="@LocalizedText.FromDateLabelText" />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="EndDateTextBox">@LocalizedText.ToDateLabelText</label>
                <input name="EndDateTextBox" id="EndDateTextBox" type="date" class="form-control date-pickers"
                       value="@closestSunday.ToShortDateString()"
                       placeholder="@LocalizedText.ToDateLabelText" />
            </div>
        </div>
    </div>
    <div class="text-right">
        <a id="generateReportButton" href="#" data-report-url="@Url.Action(MVC.Companies.Reports.GetWageSummaryPdf())" class="btn btn-primary">@LocalizedText.GenerateReportButtonText</a>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/reports/wage-summary")
}