﻿@using LocalizedText = Raido.WageJournal.Web.Views.Localization.Account._ExternalLoginsListPartial

@model Raido.WageJournal.Web.ViewModels.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>@LocalizedText.OtherLoginServiceHeading </h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div>
            <p>
                @(new MvcHtmlString(LocalizedText.NoExternalAuthServicesNotice))
            </p>
        </div>
    }
    else
    {
        using (Html.BeginForm(MVC.Account.ExternalLogin(null, Model.ReturnUrl), FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="@string.Format(LocalizedText.SubmitButtonTooltipText, @p.Caption)">@p.AuthenticationType</button>
                    }
                </p>
            </div>
        }
    }
}
