﻿@using LocalizedText = Raido.WageJournal.Web.Views.Localization.Account.ConfirmEmail
@{
    ViewBag.Title = LocalizedText.PageTitle;
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        @LocalizedText.WelcomeMessage @Html.ActionLink(LocalizedText.ClickToLoginMessage, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
