﻿@using LocalizedText = Raido.WageJournal.Web.Views.Localization.Account.ExternalLoginConfirmation
@model Raido.WageJournal.Web.ViewModels.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = LocalizedText.PageTitle;
}
<h2>@ViewBag.Title.</h2>
<h3>@string.Format(LocalizedText.AssociateExternalAccountHeading, ViewBag.LoginProvider)</h3>

@using (Html.BeginForm(MVC.Account.ExternalLoginConfirmation(null, (string)ViewBag.ReturnUrl), FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>@LocalizedText.FormHeading</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p class="text-info">
        @string.Format(LocalizedText.SuccessfulMessage, @ViewBag.LoginProvider)
    </p>
    <div class="form-group">
        <div class="col-md-2">
            @Html.LabelFor(m => m.CompanyName)
        </div>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CompanyName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2">
            @Html.LabelFor(m => m.Email)
        </div>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 text-right">
            <input type="submit" class="btn btn-default" value="@LocalizedText.RegisterButtonText" />
        </div>
    </div>
}

@section Scripts {
}
