﻿@using LocalizedText = Raido.WageJournal.Web.Views.Localization.Account.ExternalLoginFailure
@{
    ViewBag.Title = "Login Failure";
}

<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3 class="text-danger">@LocalizedText.LoginFailedMessage</h3>
</hgroup>
