﻿@using LocalizedText = Raido.WageJournal.Web.Views.Localization.Account.ForgotPassword
@model Raido.WageJournal.Web.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = LocalizedText.PageTitle;
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm(MVC.Account.ForgotPassword(), FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>@LocalizedText.EnterEmailHeading</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="@LocalizedText.EmailLinkeText" />
        </div>
    </div>
}

@section Scripts {
}
