﻿@using LocalizedText = Raido.WageJournal.Web.Views.Localization.Account.ForgotPasswordConfirmation
@{
    ViewBag.Title = LocalizedText.PageTitle;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @LocalizedText.ConfirmationMessage
    </p>
</div>
	
