﻿@using LocalizedText = Raido.WageJournal.Web.Views.Localization.Account.Login
@using Raido.WageJournal.Web.ViewModels
@model LoginViewModel
@{
    ViewBag.Title = LocalizedText.PageTitle;
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm(MVC.Account.Login((string)ViewBag.ReturnUrl), FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>@LocalizedText.LocalAccountLoginHeading</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.Email)
                    </div>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.Password)
                    </div>
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 text-right">
                        @Html.LabelFor(m => m.RememberMe, new { @class = "inline" })
                        @Html.CheckBoxFor(m => m.RememberMe)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 text-right">
                        <input type="submit" value="@LocalizedText.LoginButtonText" class="btn btn-default" />
                    </div>
                </div>
                <p class="text-right">
                    @Html.ActionLink(LocalizedText.RegisterAccountActionText, MVC.Account.Register())
                </p>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink(LocalizedText.ForgotPasswordActionText, MVC.Account.ForgotPassword())
                    </p>*@
            }
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>

@section Scripts {
}