﻿@using LocalizedText = Raido.WageJournal.Web.Views.Localization.Account.Register
@model Raido.WageJournal.Web.ViewModels.RegisterViewModel
@{
    ViewBag.Title = LocalizedText.PageTitle;
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm(MVC.Account.Register(), FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>@LocalizedText.CreateAccountHeading</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-2">
            @Html.LabelFor(m => m.Email)
        </div>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2">
            @Html.LabelFor(m => m.CompanyName)
        </div>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2">
            @Html.LabelFor(m => m.Password)
        </div>
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2">
            @Html.LabelFor(m => m.ConfirmPassword)
        </div>
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="@LocalizedText.RegisterButtonText" />
        </div>
    </div>
}

@section Scripts {
}
