﻿@using LocalizedText = Raido.WageJournal.Web.Views.Localization.Account.ResetPasswordConfirmation
@{
    ViewBag.Title = LocalizedText.PageTitle;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
       @LocalizedText.PasswordResetSuccessMessage @Html.ActionLink(LocalizedText.ClickToLoginText, MVC.Account.Login(), htmlAttributes: new { id = "loginLink" })
    </p>
</div>
