﻿@using LocalizedText = Raido.WageJournal.Web.Views.Localization.Account.SendCode
@model Raido.WageJournal.Web.ViewModels.SendCodeViewModel
@{
    ViewBag.Title = LocalizedText.PageTitle;
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm(MVC.Account.SendCode(Model.ReturnUrl, false), FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("rememberMe", @Model.RememberMe)
    <h4>@LocalizedText.SendVerificationCodeHeading</h4>
    <hr />
    <div class="row">
        <div class="col-md-8">
            @LocalizedText.SelectTwoFactorAuthProviderInstructionText
            @Html.DropDownListFor(model => model.SelectedProvider, Model.Providers)
            <input type="submit" value="@LocalizedText.SubmitButtonText" class="btn btn-default" />
        </div>
    </div>
}

@section Scripts {
}
