﻿input[type="checkbox"].custom-toggle {
  position: absolute;
  left: -999999px;
  opacity: 0.01;
}
.custom-toggle-wrapper {
  position: relative;
}
.custom-toggle:hover {
  will-change: transform;
}
.custom-toggle + .custom-toggle-display {
  position: relative;
  background-color: #ececec;
  width: 120px;
  height: 40px;
  cursor: pointer;
  border-radius: 20px;
  padding: 0 8px;
}
.custom-toggle + .custom-toggle-display .custom-toggle-indicator {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 500ms ease-out;
  background-color: #ccc;
  border: 1px solid #999;
  display: inline-block;
  width: 39.6px;
  height: 39.6px;
  border-radius: 20px;
}
.custom-toggle + .custom-toggle-display .custom-toggle-on-text {
  line-height: 40px;
  display: none;
}
.custom-toggle + .custom-toggle-display .custom-toggle-off-text {
  line-height: 40px;
  display: inline;
}
.custom-toggle:checked + .custom-toggle-display {
  position: relative;
  background-color: #00ECff;
}
.custom-toggle:checked + .custom-toggle-display .custom-toggle-indicator {
  position: absolute;
  left: 80px;
  right: 0;
  transition: all 500ms ease-out;
  width: 40px;
  height: 40px;
}
.custom-toggle:checked + .custom-toggle-display .custom-toggle-on-text {
  display: inline;
}
.custom-toggle:checked + .custom-toggle-display .custom-toggle-off-text {
  display: none;
}