﻿@toggle-indicator-size: 40px;

input[type="checkbox"].custom-toggle {
    position: absolute;
    left: -999999px;
    opacity: 0.01;
}

.custom-toggle-wrapper {
    position: relative;
}

.custom-toggle {
    &:hover {
        will-change: transform;
    }

    + .custom-toggle-display {
        position: relative;
        background-color: #ececec;
        width: @toggle-indicator-size * 3;
        height: @toggle-indicator-size;
        cursor: pointer;
        border-radius: @toggle-indicator-size/2;
        padding: 0 8px;

        .custom-toggle-indicator {
            position: absolute;
            top: 0;
            left: 0;
            transition: all 500ms ease-out;
            background-color: #ccc;
            border: 1px solid #999;
            display: inline-block;
            width: @toggle-indicator-size*0.99;
            height: @toggle-indicator-size*0.99;
            border-radius: @toggle-indicator-size/2;
        }

        .custom-toggle-on-text {
            line-height: @toggle-indicator-size;
            display: none;
        }

        .custom-toggle-off-text {
            line-height: @toggle-indicator-size;
            display: inline;
        }
    }

    &:checked + .custom-toggle-display {
        position: relative;
        background-color: #00ECff;

        .custom-toggle-indicator {
            position: absolute;
            left: @toggle-indicator-size * 2;
            right: 0;
            transition: all 500ms ease-out;
            width: @toggle-indicator-size;
            height: @toggle-indicator-size;
        }

        .custom-toggle-on-text {
            display: inline;
        }

        .custom-toggle-off-text {
            display: none;
        }
    }
}
