﻿

.file-drop-zone {
    min-height: 50px;
    box-sizing: border-box;
    .file-drop-zone-text {
        display: none;
        text-align: center;
        font-weight: bold;
    }
}
.file-drop-zone.in {
    font-size: larger;
    .file-drop-zone-text {
        line-height: 200px;
        display: block;
    }
}
.file-drop-zone.hover {
    border: 4px dashed #0094ff;
}
.file-drop-zone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}