﻿@PreLoaderBackgroundColor: rgba(230,230,230,0.75);
@ErrorColor: #FF4444;
@NeutralTextColor: #aaa;

body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.buger-menu {
    padding-top: 3px;
    padding-left: 7px;
}

.form-group {
    label {
        display: inline-block;
        width: 100%;

        &.inline {
            display: inline;
        }
    }
}

.preloader-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1050;
    padding: 15px;
    text-align: center;
    background-color: @PreLoaderBackgroundColor;

    .preloader-image {
        width: 32px;
        height: 32px;
    }
}

input[type=number] {
    text-align: right;
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
}

a.glyph-wrapper {
    &:hover, &:active {
        text-decoration: none;
    }

    &.large {

        .glyphicon {
            font-size: 1.5em;
            vertical-align: middle;
        }
    }

    &.extra-large {

        .glyphicon {
            font-size: 2em;
            vertical-align: middle;
        }
    }
}


.model-field {
    display: inline-block;
    width: 100%;
}


input.error, select.error {
    border: 1px solid #FF4444;
}


.previous-day-button {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 40px;
}

.next-day-button {
    position: absolute;
    right: 0;
    width: 40px;
    display: inline-block;
    text-align: right;
}

.slick-slider-wrapper {
    position: relative;

    .previous-day-button, .next-day-button {
        top: 40%;
    }
}

.employment-ended {
    &.work-day-cell, .name, &.employee-name {
        display: none;
    }

    &.work-day-cell, .name {
        color: @NeutralTextColor;
        text-decoration: line-through;
    }
}

.show-all-employee {

    .employment-ended {
        .name, &.employee-name {
            display: inline-block;
        }

        &.work-day-cell {
            display: block;
        }
    }
}

.imported-employee-timesheet{
    margin-top: 20px;
}