﻿.deduction-row {
  cursor: pointer;
  line-height: 36px;
  border-bottom: 1px solid #ececec;
  margin-top: 8px;
}
.deduction-row .description {
  visibility: hidden;
}
.deduction-row.selected {
  background-color: rgba(230, 230, 230, 0.75);
}
.deduction-row.selected .description {
  visibility: visible;
}
.deduction-listing {
  max-height: 400px;
  overflow-y: auto;
}