﻿.work-day-cell {
  width: 100px;
  line-height: 44px;
  height: 44px;
  cursor: pointer;
  border: 1px solid #999;
}
.calendar-cell {
  width: 100px;
}
.calendar-row {
  padding-bottom: 5px;
  border-bottom: 1px solid #ececec;
}
.calendar-day {
  color: #666;
  background-color: transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  padding: 10px 0;
  border: 2px solid #ececec;
  border-radius: 63px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.calendar-day p {
  margin: 0;
}
.employee-heading {
  height: 80px;
  display: table-cell;
  vertical-align: middle;
}
.employee-name {
  line-height: 44px;
  white-space: nowrap;
  max-width: 100%;
  width: 100%;
  height: 44px;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.employee-name i.glyphicon {
  margin-left: 8px;
}
.add-new-employee {
  margin-top: 16px;
}
.employee-work-date {
  position: relative;
  line-height: 40px;
}
.employee-work-date .previous-day-button,
.employee-work-date .next-day-button {
  top: 0;
}