﻿@day-cell-width: 100px;
@work-row-height: 44px;
.work-day-cell {
    width: @day-cell-width;
    line-height: @work-row-height;
    height: @work-row-height;
    cursor: pointer;
    border: 1px solid #999;
}

.calendar-cell {
    width: @day-cell-width;
}

.calendar-row {
    padding-bottom: 5px;
    border-bottom: 1px solid #ececec;
}

.calendar-day {
    color: #666;
    background-color: transparent;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: @day-cell-width * 0.8;
    height: @day-cell-width * 0.8;
    padding: (@day-cell-width * 0.1) 0;
    border: 2px solid #ececec;
    border-radius: 63px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.calendar-day p{
    margin:0;
}

.employee-heading {
    height: @day-cell-width * 0.8;
    display:table-cell;
    vertical-align:middle;
}

.employee-name {
    line-height: @work-row-height;
    white-space: nowrap;
    max-width: 100%;
    width: 100%;
    height: @work-row-height;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;

    i.glyphicon {
        margin-left: 8px;
    }
}

.add-new-employee {
    margin-top: 16px;
}

.employee-work-date {
    position: relative;
    line-height: 40px;
    .previous-day-button, .next-day-button{
        top: 0;
    }
}

