﻿@using LocalizedText = Raido.WageJournal.Web.Areas.Companies.Localization.LocalizedText
@using SharedText = Raido.WageJournal.Web.Views.Localization.Shared.LocalizedText
@using DataTransferObjects = Raido.WageJournal.Contracts.DataTransferObjects
@model DataTransferObjects.Employee

@{
    var employee = Model ?? new DataTransferObjects.Employee();
    if (employee.Identifier == Guid.Empty)
    {
        employee.Identifier = Guid.NewGuid();
    }

    var currentCompanyIdentifier = Guid.Empty;
    if (!this.Request.RequestContext.RouteData.Values.ContainsKey("companyIdentifier") ||
        !Guid.TryParse(this.Request.RequestContext.RouteData.Values["companyIdentifier"].ToString(), out currentCompanyIdentifier))
    {
        currentCompanyIdentifier = Guid.Empty;
    }

    employee.CompanyIdentifier = currentCompanyIdentifier;

    if (employee.EmployeeId == default(int))
    {
        ViewBag.Title = string.Format(LocalizedText.EmployeeDetailsTitle, LocalizedText.NewEmployeeTemporaryName);
    }
    else
    {
        ViewBag.Title = string.Format(LocalizedText.EmployeeDetailsTitle, Model.Name);
    }
}

@using (Html.BeginForm(MVC.Companies.Employees.SaveEmployee(employee.Identifier, null), FormMethod.Post, new { id = "EmployeeDetailsModalForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => employee.Identifier)
    @Html.HiddenFor(model => employee.CompanyIdentifier)
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">@ViewBag.Title</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            @Html.HiddenFor(model => employee.IsActive)
            <div class="col-xs-12 col-sx-6 col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => employee.EmployeeNumber)
                    @Html.ValidationMessageFor(model => employee.EmployeeNumber)
                    @Html.TextBoxFor(model => employee.EmployeeNumber, new { required = "required", @class = "form-control", placeholder = LocalizedText.EmployeeNumberTextboxPlaceholder })
                </div>
            </div>
            <div class="col-xs-12 col-sx-6 col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => employee.Name)
                    @Html.ValidationMessageFor(model => employee.Name)
                    @Html.TextBoxFor(model => employee.Name, new { required = "required", @class = "form-control", placeholder = LocalizedText.EmployeeNameTextboxPlaceholder })
                </div>
            </div>
            <div class="col-xs-12 col-sx-6 col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => employee.Email)
                    @Html.ValidationMessageFor(model => employee.Email)
                    @Html.TextBoxFor(model => employee.Email, new { @class = "form-control", placeholder = LocalizedText.EmailTextboxPlaceholder, type = "email" })
                </div>
            </div>
            <div class="col-xs-12 col-sx-6 col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => employee.PhoneNumber)
                    @Html.ValidationMessageFor(model => employee.PhoneNumber)
                    @Html.TextBoxFor(model => employee.PhoneNumber, new { @class = "form-control", placeholder = LocalizedText.PhoneNumberTextboxPlaceholder, type = "tel" })
                </div>
            </div>
            <div class="col-xs-12 col-sx-6 col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => employee.EmploymentStartDate)
                    @Html.TextBoxFor(model => employee.EmploymentStartDate, new
                           {
                               @class = "form-control",
                               placeholder = LocalizedText.EmploymentStartDateTextboxPlaceholder,
                               type = "date",
                               @Value = employee.EmploymentStartDate.HasValue ? employee.EmploymentStartDate.Value.ToShortDateString() : string.Empty
                           })
                </div>
            </div>
            <div class="col-xs-12 col-sx-6 col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => employee.EmploymentEndDate)
                    @Html.TextBoxFor(model => employee.EmploymentEndDate, new
                           {
                               @class = "form-control",
                               placeholder = LocalizedText.EmploymentEndDateTextboxPlaceholder,
                               type = "date",
                               @Value = employee.EmploymentEndDate.HasValue ? employee.EmploymentEndDate.Value.ToShortDateString() : string.Empty
                           })
                </div>
            </div>
            <div class="col-xs-12 col-sx-6 col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => employee.HourlyRate)
                    @Html.ValidationMessageFor(model => employee.HourlyRate)
                    @Html.TextBoxFor(model => employee.HourlyRate, new { @class = "form-control", placeholder = LocalizedText.PhoneNumberTextboxPlaceholder, type = "number", step = "any" })
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default" data-dismiss="modal">@SharedText.CloseButtonText</a>
        @*<a class="btn btn-primary">@SharedText.SaveButtonText</a>*@
    </div>
}
