﻿@using Raido.WageJournal.Contracts.ComplexTransferObjects
@using LocalizedText = Raido.WageJournal.Web.Areas.Companies.Localization.LocalizedText
@using SharedText = Raido.WageJournal.Web.Views.Localization.Shared.LocalizedText
@model EmployeeWorkDay

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">@string.Format(LocalizedText.EditEmployeeWorkModalHeading, Model.Employee.Name, Model.Day.ToShortDateString(), Model.Employee.EmployeeNumber)</h4>
    @{
        var work = Model.Work ?? new Raido.WageJournal.Contracts.DataTransferObjects.Work()
        {
            Identifier = Guid.NewGuid(),
            IsActive = true,
            DateWorked = Model.Day,
            EmployeeIdentifier = Model.Employee.Identifier,
            EmployeeName = Model.Employee.Name,
            HoursWorked = null
        };
        var adjustment = Model.Adjustment ?? new Raido.WageJournal.Contracts.DataTransferObjects.Adjustment()
        {
            Identifier = Guid.NewGuid(),
            Amount = null,
            DateOfIssuance = Model.Day,
            EmployeeIdentifier = Model.Employee.Identifier,
            IsActive = true
        };

        if (work.HoursWorked.HasValue && work.HoursWorked.Value == 0)
        {
            work.HoursWorked = null;
        }

        if (adjustment.Amount.HasValue && adjustment.Amount.Value == 0)
        {
            adjustment.Amount = null;
        }
    }
</div>
<div class="modal-body" data-employee-identifier="@Model.Employee.Identifier">
    <div class="employee-work-date">
        <div class="text-center">@(Model.Day.ToShortDateString()) (@(Model.Day.ToString("ddd")))</div>
        <a href="#" class="large glyph-wrapper previous-day-button"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a href="#" class="large glyph-wrapper next-day-button"><i class="glyphicon glyphicon-chevron-right"></i></a>
    </div>
    @using (Html.BeginForm())
    {
        <div class="row work-row" data-save-url="@Url.Action(MVC.Companies.Employees.SaveWorkForDay(Model.Employee.CompanyIdentifier, Model.Employee.Identifier, null))">
            @Html.HiddenFor(model => work.Identifier)
            @Html.HiddenFor(model => Model.Day, new { Value = Model.Day.ToString("yyyy-MM-dd") })
            <div class="col-xs-12 col-sm-6 form-group">
                @Html.LabelFor(model => Model.Employee.HourlyRate)
                <span class="model-field text-right">
                    @{
                        var hourlyRate = Model.Employee.HourlyRate ?? 0;
                        if (Model.Day.DayOfWeek == DayOfWeek.Saturday && Model.SaturdayOvertimeMultiplier.Value != 1)
                        {
                            <text>
                                @(hourlyRate.ToString("F2")) X @Model.SaturdayOvertimeMultiplier.Value = @((hourlyRate * Model.SaturdayOvertimeMultiplier.Value).ToString("F2"))
                            </text>
                        }
                        else if (Model.Day.DayOfWeek == DayOfWeek.Sunday && Model.SundayOvertimeMultiplier.Value != 1)
                        {
                            <text>
                                @(hourlyRate.ToString("F2")) X @Model.SundayOvertimeMultiplier.Value = @((hourlyRate * Model.SundayOvertimeMultiplier.Value).ToString("F2"))
                            </text>
                        }
                        else
                        {
                            <text>
                                @hourlyRate.ToString("F2")
                            </text>
                        }
                    }
                </span>
            </div>
            <div class="col-xs-12 col-sm-6 form-group">
                @Html.LabelFor(model => work.HoursWorked)
                @Html.ValidationMessageFor(model => work.HoursWorked)
                @Html.TextBoxFor(model => work.HoursWorked, new { @class = "form-control hours-worked-textbox", type = "number", step = "any", placeholder="0" })
            </div>
        </div>
        <div class="row adjustment-row" data-save-url="@Url.Action(MVC.Companies.Employees.SaveAdjustmentForDay(Model.Employee.CompanyIdentifier,Model.Employee.Identifier,null))">
            @Html.HiddenFor(model => Model.Day, new { Value = Model.Day.ToString("yyyy-MM-dd") })
            @Html.HiddenFor(model => adjustment.Identifier)
            <div class="col-xs-12 col-sm-6">
                @Html.LabelFor(model => adjustment.Description)
                @Html.ValidationMessageFor(model => adjustment.Description)
                @Html.TextBoxFor(model => adjustment.Description, new { @class = "form-control", type = "text" })
            </div>
            <div class="col-xs-12 col-sm-6">
                @Html.LabelFor(model => adjustment.Amount)
                @Html.ValidationMessageFor(model => adjustment.Amount)
                @Html.TextBoxFor(model => adjustment.Amount, new { @class = "form-control", type = "number", step = "any", placeholder = "0" })
            </div>
        </div>
    }
</div>
<div class="modal-footer">
    <a class="btn btn-default" data-dismiss="modal">@SharedText.CloseButtonText</a>
</div>