﻿@using Raido.WageJournal.Contracts.ComplexTransferObjects
@model CompanyAndEmployeeWork

@{
    var date = Model.EmployeeWork.Select(ew => ew.Day).FirstOrDefault();

}
<div class="work-day-wrapper" data-work-date="@date.ToString("yyyy-MM-dd")" data-save-url="@Url.Action(MVC.Companies.Employees.SaveWorkForDay(Model.CompanyIdentifier,Guid.Empty,null))">
    @for (int i = 0; i < Model.EmployeeWork.Count; i++)
    {
        var currentEmployeeWork = Model.EmployeeWork[i];
        var employeeIdentifer = currentEmployeeWork.Employee.Identifier;
        var adjustmentAmount = currentEmployeeWork.Adjustment == null || !currentEmployeeWork.Adjustment.Amount.HasValue ? 0 : currentEmployeeWork.Adjustment.Amount.Value;
        var hourlyRate = currentEmployeeWork.Employee.HourlyRate ?? 0;

        if (date.DayOfWeek == DayOfWeek.Saturday &&
            Model.SaturdayOvertimeMultiplier != null &&
            Model.SaturdayOvertimeMultiplier.IsActive &&
            !Model.SaturdayOvertimeMultiplier.IsDeleted &&
            Model.SaturdayOvertimeMultiplier.Value != 0 &&
            Model.SaturdayOvertimeMultiplier.Value != 1)
        {
            hourlyRate *= Model.SaturdayOvertimeMultiplier.Value;
        }

        if (date.DayOfWeek == DayOfWeek.Sunday &&
            Model.SundayOvertimeMultiplier != null &&
            Model.SundayOvertimeMultiplier.IsActive &&
            !Model.SundayOvertimeMultiplier.IsDeleted &&
            Model.SundayOvertimeMultiplier.Value != 0 &&
            Model.SundayOvertimeMultiplier.Value != 1)
        {
            hourlyRate *= Model.SundayOvertimeMultiplier.Value;
        }

        if (currentEmployeeWork.Work == null)
        {
            currentEmployeeWork.Work = new Raido.WageJournal.Contracts.DataTransferObjects.Work();
            currentEmployeeWork.Work.Identifier = Guid.NewGuid();
            currentEmployeeWork.Work.DateWorked = currentEmployeeWork.Day;
            currentEmployeeWork.Work.EmployeeIdentifier = employeeIdentifer;
        }

        var workDayCellCssStyle = "work-day-cell " + (currentEmployeeWork.Employee.EmploymentEndDate.HasValue && currentEmployeeWork.Employee.EmploymentEndDate.Value < currentEmployeeWork.Day ? "employment-ended" : string.Empty);
        <div class="@workDayCellCssStyle" data-employee-identifier="@currentEmployeeWork.Employee.Identifier">
            @((((currentEmployeeWork.Work.HoursWorked ?? 0) * hourlyRate) + adjustmentAmount).ToString("F2"))
        </div>
    }
</div>