﻿@using Raido.WageJournal.Contracts.ComplexTransferObjects
@using LocalizedText = Raido.WageJournal.Web.Areas.Companies.Localization.LocalizedText
@using SharedText = Raido.WageJournal.Web.Views.Localization.Shared.LocalizedText
@model CompanyAndEmployees

@{
    ViewBag.Title = string.Format(LocalizedText.ImportTimesheetTitle, Model.Company.TradeName);
}

@section head{
    @Styles.Render("~/content/import-timesheet")
}
<h2>@ViewBag.Title</h2>
<div class="hidden">
    @Html.DropDownList(
        "EmployeeDropDownList",
        Model.Employees
            .Select(e => new SelectListItem
            {
                Text = e.EmployeeDisplayName,
                Value = e.Identifier.ToString()
            }),
        LocalizedText.NoEmployeeSelected,
        new { @class = "form-control" })
</div>
<div class="file-drop-zone">
    <div class="file-drop-zone-text">@LocalizedText.DropFilesHere</div>
    <!-- File Upload Controls -->
    <div class="form-group">
        <!-- The global progress bar -->
        <div id="progress" class="progress">
            <div class="progress-bar progress-bar-success"></div>
        </div>

        <!-- The fileinput-button span is used to style the file input field as button -->
        <span class="btn btn-default fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>@LocalizedText.SelectFileButton</span>
            <!-- The file input field used as target for the file upload widget -->
            <input type="file" id="TimesheetFileUpload" data-upload-url="@Url.Action(MVC.Companies.TimeCardLogImport.UploadFile())" />
        </span>
    </div>
    <div id="ExtractedResults" data-save-url="@Url.Action(MVC.Companies.TimeCardLogImport.SaveTimesheetImportResults(Model.Company.Identifier, null))">

    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/import-timesheet")
}
