﻿@using LocalizedText = Raido.WageJournal.Web.Views.Localization.Manage.ChangePassword
@model Raido.WageJournal.Web.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = LocalizedText.ChangePasswordHeading;
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm(MVC.Manage.ChangePassword(), FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>@LocalizedText.ChangePasswordHeading</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="@LocalizedText.ChangePasswordButtonText" class="btn btn-default" />
        </div>
    </div>
}
@section Scripts {
}