﻿@using Raido.WageJournal.Contracts.Enumerations
@using EnumLocalization = Raido.WageJournal.Contracts.Enumerations.Localization
@using LocalizedText = Raido.WageJournal.Web.Views.Localization.Manage.Index
@using Raido.WageJournal.Extensions
@model Raido.WageJournal.Web.ViewModels.IndexViewModel
@{
    ViewBag.Title = LocalizedText.ChangeSettingsHeading;
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>@LocalizedText.ChangeSettingsHeading</h4>
    <hr />
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group">
            <label for="CultureDropDown">@LocalizedText.LanguageSettingLabel</label>
            <select id="CultureDropDown" class="form-control" data-change-url="@Url.Action(MVC.Manage.ChangeCulture(string.Empty))">
                <option value="en-US" @(System.Threading.Thread.CurrentThread.CurrentUICulture.Name.IndexOf("en-US", StringComparison.InvariantCultureIgnoreCase) != -1 ? "selected=\"selected\"" : string.Empty)>
                    @CultureCodes.EnglishUS.GetDisplayName(typeof(EnumLocalization.CultureCodes))
                </option>
                <option value="en-GB" @(System.Threading.Thread.CurrentThread.CurrentUICulture.Name.IndexOf("en-GB", StringComparison.InvariantCultureIgnoreCase) != -1 ? "selected=\"selected\"" : string.Empty)>
                    @CultureCodes.EnglishUK.GetDisplayName(typeof(EnumLocalization.CultureCodes))
                </option>
                <option value="zh-TW" @(System.Threading.Thread.CurrentThread.CurrentUICulture.Name.IndexOf("zh-TW", StringComparison.InvariantCultureIgnoreCase) != -1 ? "selected=\"selected\"" : string.Empty)>
                    @CultureCodes.ChineseTW.GetDisplayName(typeof(EnumLocalization.CultureCodes))
                </option>
            </select>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group">
            <label for="PasswordLink">@LocalizedText.PasswordLabel</label>
            <span class="model-field">
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink(LocalizedText.ChangePasswordActionText, MVC.Manage.ChangePassword())
                }
                else
                {
                    @Html.ActionLink(LocalizedText.CreatePasswordActionText, MVC.Manage.SetPassword())
                }
                ]
            </span>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group">
            <label for="PasswordLink">@LocalizedText.ExternalLoginLabel</label>
            <span class="model-field">
                @Model.Logins.Count [ @Html.ActionLink(LocalizedText.ManageExternalLoginActionText, MVC.Manage.ManageLogins()) ]
            </span>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group">
            <label for="PasswordLink">@LocalizedText.TwoFactorAuthLabel</label>
            <span class="model-field">
                @(new MvcHtmlString(LocalizedText.TwoFactorAuthNotSetUpNotice))
            </span>
        </div>
    </div>
    <dl class="dl-horizontal">
            @*@if (Model.TwoFactor)
                {
                    using (Html.BeginForm(MVC.Manage.DisableTwoFactorAuthentication(), FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>@LocalizedText.EnableButtonText
                        <input type="submit" value="@LocalizedText.DisableButtonText" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm(MVC.Manage.EnableTwoFactorAuthentication(), FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>@LocalizedText.DisableButtonText
                        <input type="submit" value="@LocalizedText.EnableButtonText" class="btn btn-link" />
                        </text>
                    }
                }*@
    </dl>
</div>

@section scripts{
    
    @Scripts.Render("~/bundles/manage")
    
}
