﻿@using LocalizedText = Raido.WageJournal.Web.Views.Localization.Manage.ManageLogins
@model Raido.WageJournal.Web.ViewModels.ManageLoginsViewModel
@using Microsoft.Owin.Security
@{
    ViewBag.Title = LocalizedText.PageTitle;
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div>
            <p>
                @(new MvcHtmlString(LocalizedText.NoAuthenticationServicesConfiguredNotice))
            </p>
        </div>
    }
    else
    {
        if (Model.CurrentLogins.Count > 0)
        {
            <h4>@LocalizedText.RegisteredLoginsHeading</h4>
            <table class="table">
                <tbody>
                    @foreach (var account in Model.CurrentLogins)
                    {
                        <tr>
                            <td>@account.LoginProvider</td>
                            <td>
                                @if (ViewBag.ShowRemoveButton)
                                {
                                    using (Html.BeginForm(MVC.Manage.RemoveLogin()))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div>
                                            @Html.Hidden("loginProvider", account.LoginProvider)
                                            @Html.Hidden("providerKey", account.ProviderKey)
                                            <input type="submit" class="btn btn-default" value="@LocalizedText.RemoveButtonText" title="@string.Format(LocalizedText.RemoveButtonTooltip, account.LoginProvider)" />
                                        </div>
                                    }
                                }
                                else
                                {
                                    @: &nbsp;
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        if (Model.OtherLogins.Count > 0)
        {
            using (Html.BeginForm(MVC.Manage.LinkLogin()))
            {
                @Html.AntiForgeryToken()
                <div id="socialLoginList">
                    <p>
                        @foreach (AuthenticationDescription p in Model.OtherLogins)
                        {
                            <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="@string.Format(LocalizedText.AlternativeLoginButtonText, p.Caption)">@p.AuthenticationType</button>
                        }
                    </p>
                </div>
            }
        }
    }
}
