﻿@using LocalizedText = Raido.WageJournal.Web.Views.Localization.Manage.SetPassword
@model Raido.WageJournal.Web.ViewModels.SetPasswordViewModel
@{
    ViewBag.Title = LocalizedText.CreateLocalLoginHeading;
}

<h2>@ViewBag.Title.</h2>
<p class="text-info">
    @LocalizedText.NoLocalAccountNotice
</p>

@using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>@LocalizedText.CreateLocalLoginHeading</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="@LocalizedText.SetPasswordButtonText" class="btn btn-default" />
        </div>
    </div>
}
@section Scripts {
}