﻿@using Raido.WageJournal.Contracts.ComplexTransferObjects
@using LocalizedText = Raido.WageJournal.Web.Areas.Companies.Localization.LocalizedText
@using SharedText = Raido.WageJournal.Web.Views.Localization.Shared.LocalizedText
@model CompanyAndEmployees

@{
    ViewBag.Title = string.Format(LocalizedText.EmployeeWorkHoursTitle, Model.Company.TradeName);
}
@section head{
    @Styles.Render("~/content/employee/work")
}

<h2>@ViewBag.Title</h2>
<div class="employee-work-wrapper">
    <div class="row calendar-row">
        <div class="col-xs-6 col-sm-5 col-md-4 employee-heading">
            <span class="custom-toggle-wrapper">
                <input id="ShowAllEmployeeCheckbox" type="checkbox" value="All" class="custom-toggle" />
                <label for="ShowAllEmployeeCheckbox" class="custom-toggle-display"><span class="custom-toggle-on-text pull-left">@LocalizedText.AllEmployees</span><span class="custom-toggle-indicator"></span><span class="custom-toggle-off-text pull-right">@LocalizedText.ActiveEmployees</span></label>
            </span>
        </div>
        <div class="col-xs-6 col-sm-7 col-md-8 slick-slider-wrapper">
            <div class="jq-calendar-header text-center">
            </div>
            <a href="#" class="large glyph-wrapper previous-day-button"><i class="glyphicon glyphicon-chevron-left"></i></a>
            <a href="#" class="large glyph-wrapper next-day-button"><i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-5 col-md-4 employee-list">
            @for (int i = 0; i < Model.Employees.Count; i++)
            {
                var employmentEndedCssClass = (Model.Employees[i].EmploymentEndDate.HasValue && Model.Employees[i].EmploymentEndDate.Value < DateTime.Today ? "employment-ended" : string.Empty);

                <div class="employee-name @employmentEndedCssClass" data-guid="@Model.Employees[i].Identifier" title="@Model.Employees[i].EmployeeDisplayName">
                    <a href="#" class="large glyph-wrapper edit-employee-button">
                        <i class="glyphicon glyphicon-edit hidden-md hidden-lg"></i>
                        <span class="btn btn-default hidden-xs hidden-sm">@LocalizedText.EditButtonText</span>
                    </a>
                    <a href="#" class="large glyph-wrapper edit-deduction-items-button">
                        <i class="glyphicon glyphicon-retweet hidden-md hidden-lg"></i>
                        <span class="btn btn-default hidden-xs hidden-sm">@LocalizedText.RecurringChargeButtonText</span>
                    </a>
                    <span class="name">@Model.Employees[i].EmployeeDisplayName</span>
                </div>
            }
            <a href="#" class="btn btn-default add-new-employee btn-block" data-toggle="modal" data-target="#addEmployeeModal">@LocalizedText.AddNewEmployeeButtonText</a>
        </div>
        <div class="col-xs-6 col-sm-7 col-md-8 slick-slider-wrapper">
            <div class="jq-work-list text-center" data-work-url="@(Url.Action(MVC.Companies.Employees.WorkForDay()))">

            </div>
        </div>
    </div>
</div>

<div id="editEmployeeModal" class="modal fade" role="dialog" data-details-url="@Url.Action(MVC.Companies.Employees.Details(Guid.Empty))">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>

<div id="editEmployeeDeductionModal" class="modal fade" role="dialog" data-details-url="@Url.Action(MVC.Companies.Deductions.DeductionListing(Guid.Empty, Model.Company.Identifier))">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>
<div id="editEmployeeWorkDayModal" class="modal fade" role="dialog" data-details-url="@Url.Action(MVC.Companies.Employees.EmployeeWorkForDay(Model.Company.Identifier,Guid.Empty,null))">
    <div class="modal-dialog">
        <div class="modal-content">
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="addEmployeeModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                Raido.WageJournal.Contracts.DataTransferObjects.Employee employee = new Raido.WageJournal.Contracts.DataTransferObjects.Employee();
                employee.Identifier = Guid.NewGuid();
                employee.HourlyRate = 0;
            }
            @using (Html.BeginForm(MVC.Companies.Employees.SaveEmployee(employee.Identifier, null), FormMethod.Post, null))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">@LocalizedText.AddEmployeeModalHeading</h4>
                </div>
                <div class="modal-body form-group">
                    @Html.HiddenFor(model => employee.EmployeeId)
                    @Html.HiddenFor(model => employee.Identifier)
                    @Html.HiddenFor(model => employee.IsActive)
                    @Html.HiddenFor(model => employee.HourlyRate)
                    @Html.TextBoxFor(model => employee.Name, new { required = "required", @class = "form-control", placeholder = LocalizedText.EmployeeNameTextboxPlaceholder })
                    @Html.ValidationMessageFor(model => employee.Name)
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">@SharedText.CloseButtonText</a>
                    <input type="submit" class="btn btn-primary" value="@LocalizedText.AddEmployeeModalButtonText" />
                </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section scripts{
    <script>
        window.appSettings.dayNames = new Array(7);
        @{
            for (int i=0;i<7;i++)
            {
                <text>
        window.appSettings.dayNames[@((int)DateTime.Today.AddDays(i).DayOfWeek)] = '@(DateTime.Today.AddDays(i).ToString("ddd"))';
        </text>
            }
        }

    </script>
    @Scripts.Render("~/bundles/employee/work")
}
