﻿@using Raido.WageJournal.Extensions
@using Raido.WageJournal.Web.Extensions
@using LocalizedText = Raido.WageJournal.Web.Views.Localization.Shared.LocalizedText

<!DOCTYPE html>
<html lang="@System.Threading.Thread.CurrentThread.CurrentUICulture.Name">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @LocalizedText.ApplicationName</title>
    <link rel="resource" type="application/l10n" href="@Url.Content("~/locales/locales.ini?v=3")" />

    @Styles.Render("~/content/site")
    @RenderSection("head", required: false)
    @{

        // Currently, Twitter Bootstrap DatePicker interprets date formats different to .NET.
        // Those interested can look at https://msdn.microsoft.com/en-us/library/8kb3ddd4%28v=vs.110%29.aspx
        // which interprets capital M differently to bootstrap-datepicker http://bootstrap-datepicker.readthedocs.org/en/latest/options.html#format
        // we therefore go through a conversion process
        // Note: day of month with and without leading zero is same between .NET and bootstrap as  d or dd
        string[] splitItems = System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern.Split(System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.DateSeparator.ToCharArray());

        for (int i = 0; i < splitItems.Length; i++)
        {
            if (splitItems[i].Equals("dddd", StringComparison.CurrentCulture))
            {
                // Convert full name of day of week to bootstrap format
                splitItems[i] = "DD";
            }
            else if (splitItems[i].Equals("ddd", StringComparison.CurrentCulture))
            {
                // Convert abbreviated name of day of week to bootstrap format
                splitItems[i] = "D";
            }
            else if (splitItems[i].Equals("MMMM", StringComparison.CurrentCulture))
            {
                // Convert full month name to bootstrap format
                splitItems[i] = "MM";
            }
            else if (splitItems[i].Equals("MMM", StringComparison.CurrentCulture))
            {
                // Convert full month name to bootstrap format
                splitItems[i] = "M";
            }
            else if (splitItems[i].Equals("MM", StringComparison.CurrentCulture))
            {
                // Convert full month name to bootstrap format
                splitItems[i] = "mm";
            }
            else if (splitItems[i].Equals("M", StringComparison.CurrentCulture))
            {
                // Convert full month name to bootstrap format
                splitItems[i] = "m";
            }
            else if (splitItems[i].Equals("yyyyy", StringComparison.CurrentCulture))
            {
                // Convert full month name to bootstrap format
                splitItems[i] = "yyyy";
            }
            else if (splitItems[i].Equals("yyy", StringComparison.CurrentCulture))
            {
                // Convert full month name to bootstrap format
                splitItems[i] = "yyyy";
            }
            else if (splitItems[i].Equals("y", StringComparison.CurrentCulture))
            {
                // Convert full month name to bootstrap format
                splitItems[i] = "yy";
            }
        }

        string dateFormat = string.Join(System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.DateSeparator, splitItems);
    }
    <script>
        window.appSettings = {
            culture: '@System.Threading.Thread.CurrentThread.CurrentUICulture.Name',
            rootUrl: '@(Url.Content("~/"))',
            bootstrapDateFormat: '@dateFormat',
            isDebug: false
        };
        @if (Html.IsDebug())
        {
            <text>window.appSettings.isDebug = true;</text>
        }
    </script>
</head>
<body>
    @{
        var currentCompanyIdentifier = Guid.Empty;
        if (!this.Request.RequestContext.RouteData.Values.ContainsKey("companyIdentifier") ||
            !Guid.TryParse(this.Request.RequestContext.RouteData.Values["companyIdentifier"].ToString(), out currentCompanyIdentifier))
        {
            currentCompanyIdentifier = Guid.Empty;
        }

        // in the worst case scenario, on a page where no company selected, fetch from repo
        if (currentCompanyIdentifier == Guid.Empty && this.User.Identity.IsAuthenticated)
        {
            var companyRepository = DependencyResolver.Current.GetService<Raido.WageJournal.DataAccess.Repositories.Interfaces.ICompanyRepository>();
            currentCompanyIdentifier = companyRepository.GetLastViewedCompanyIdentifierAsync().Result;
        }

        bool companyDetailsItemSelected =
            string.IsNullOrWhiteSpace(((string)this.Request.RequestContext.RouteData.Values["Area"] ?? string.Empty)) &&
            this.Request.RequestContext.RouteData.Values["Controller"].ToString().Equals("Companies", StringComparison.CurrentCultureIgnoreCase) &&
            this.Request.RequestContext.RouteData.Values["Action"].ToString().Equals("Details", StringComparison.CurrentCultureIgnoreCase);

        bool employeeListingItemSelected =
            this.Request.RequestContext.RouteData.Values["Controller"].ToString().Equals("Employees", StringComparison.CurrentCultureIgnoreCase) &&
            this.Request.RequestContext.RouteData.Values["Action"].ToString().Equals("Index", StringComparison.CurrentCultureIgnoreCase);

        bool importTimesheetItemSelected =
            this.Request.RequestContext.RouteData.Values["Controller"].ToString().Equals("TimeCardLogImport", StringComparison.CurrentCultureIgnoreCase) &&
            this.Request.RequestContext.RouteData.Values["Action"].ToString().Equals("Index", StringComparison.CurrentCultureIgnoreCase);

        bool wageSummaryReportItemSelected =
        this.Request.RequestContext.RouteData.Values["Controller"].ToString().Equals("Reports", StringComparison.CurrentCultureIgnoreCase) &&
        this.Request.RequestContext.RouteData.Values["Action"].ToString().Equals("WageSummaryFilterPage", StringComparison.CurrentCultureIgnoreCase);

        bool payslipReportItemSelected =
            this.Request.RequestContext.RouteData.Values["Controller"].ToString().Equals("Reports", StringComparison.CurrentCultureIgnoreCase) &&
            this.Request.RequestContext.RouteData.Values["Action"].ToString().Equals("PayslipFilterPage", StringComparison.CurrentCultureIgnoreCase);

        bool attendanceSummaryReportItemSelected =
            this.Request.RequestContext.RouteData.Values["Controller"].ToString().Equals("Reports", StringComparison.CurrentCultureIgnoreCase) &&
            this.Request.RequestContext.RouteData.Values["Action"].ToString().Equals("AttendanceSummaryFilterPage", StringComparison.CurrentCultureIgnoreCase);
    }
    <div class="navbar navbar-default">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="pull-left ">@LocalizedText.BurgerIconText</span>
                        <span class="pull-left buger-menu">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </span>
                    </button>
                    @*@Html.ActionLink(LocalizedText.ApplicationName, MVC.Home.Index(), new { @class = "navbar-brand" })*@
                </div>
                <div class="navbar-collapse collapse">
                    @if (this.User.Identity.IsAuthenticated)
                {
                <ul class="nav navbar-nav">
                    <li class="@(companyDetailsItemSelected ? "active" : string.Empty)">
                        @Html.ActionLink(LocalizedText.CompanyDetailsMenuItemText, MVC.Companies.Companies.Details(currentCompanyIdentifier), new { @class = "menu-item remove-gutter-left" })
                    </li>
                    <li class="@(employeeListingItemSelected ? "active" : string.Empty)">
                        @Html.ActionLink(LocalizedText.EmployeesMenuItemText, MVC.Companies.Employees.Index(currentCompanyIdentifier), new { @class = "menu-item " })
                    </li>
                    <li class="@(importTimesheetItemSelected ? "active" : string.Empty)">
                        @Html.ActionLink(LocalizedText.ImportTimesheetMenuItemText, MVC.Companies.TimeCardLogImport.Index(currentCompanyIdentifier), new { @class = "menu-item " })
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" aria-expanded="true" role="button" data-toggle="dropdown" href="#">@LocalizedText.ReportsMenuItemText <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="@(wageSummaryReportItemSelected ? "active" : string.Empty)">
                                @Html.ActionLink(LocalizedText.WageSummaryReportMenuItemText, MVC.Companies.Reports.WageSummaryFilterPage(currentCompanyIdentifier), new { @class = "menu-item " })
                            </li>
                            <li class="@(payslipReportItemSelected ? "active" : string.Empty)">
                                @Html.ActionLink(LocalizedText.PayslipReportMenuItemText, MVC.Companies.Reports.PayslipFilterPage(currentCompanyIdentifier), new { @class = "menu-item " })
                            </li>
                            <li class="@(attendanceSummaryReportItemSelected ? "active" : string.Empty)">
                                @Html.ActionLink(LocalizedText.AttendanceSummaryReportMenuItemText, MVC.Companies.Reports.AttendanceSummaryFilterPage(currentCompanyIdentifier), new { @class = "menu-item " })
                            </li>
                        </ul>
                    </li>
                </ul>
                }
                    @Html.Partial("_LoginPartial")
                    @if (this.User.Identity.IsAuthenticated)
                {
                <ul class="nav navbar-nav navbar-right">
                    @Html.Action(MVC.Companies.Companies.DropdownMenuWithPreselect())
                    @*<li>@Html.ActionLink(LocalizedText.CompaniesMenuItem, MVC.Companies.Companies.Details(Guid.Empty))</li>*@
                </ul>
                }
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        @{
            var version = System.Reflection.AssemblyName.GetAssemblyName(System.Reflection.Assembly.GetAssembly(typeof(Raido.WageJournal.Web.MvcApplication)).Location).Version.ToString();
        }
        <footer>
            <p>&copy; @DateTime.Now.Year - @LocalizedText.ApplicationName @("v" + version)</p>
        </footer>
    </div>
    @Html.Partial("Preloader")
    @if (this.User.Identity.IsAuthenticated)
    {
        <div id="addCompanyModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    @{
        Raido.WageJournal.Contracts.DataTransferObjects.Company newCompany = new Raido.WageJournal.Contracts.DataTransferObjects.Company();
                    }
                    @using (Html.BeginForm(MVC.Companies.Companies.AddCompany(), FormMethod.Post, null))
                    {
                        @Html.AntiForgeryToken()
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">@LocalizedText.AddCompanyModalHeading</h4>
                        </div>
                        <div class="modal-body form-group">
                            @Html.HiddenFor(model => newCompany.Identifier)
                            @Html.TextBoxFor(model => newCompany.FullName, new { required = "required", @class = "form-control", placeholder = LocalizedText.CompanyNameTextboxPlaceholder })
                            @Html.ValidationMessageFor(model => newCompany.FullName)
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-default" data-dismiss="modal">@LocalizedText.CloseButtonText</a>
                            <input type="submit" class="btn btn-primary" value="@LocalizedText.AddCompanyModalButtonText" />
                        </div>
                    }
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    }
    @Scripts.Render("~/bundles/prerequisites")
    @RenderSection("scripts", required: false)
    @if (System.Configuration.ConfigurationManager.AppSettings["ShowMiniProfiler"].AsNullableBoolean() ?? false)
    {
        @StackExchange.Profiling.MiniProfiler.RenderIncludes(position: StackExchange.Profiling.RenderPosition.BottomLeft)
    }
</body>

</html>

