﻿@using Microsoft.AspNet.Identity
@using LocalizedText = Raido.WageJournal.Web.Views.Localization.Shared.LocalizedText

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm(MVC.Account.LogOff(), FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" aria-expanded="true" role="button" data-toggle="dropdown" href="#">
                    @User.Identity.GetUserName()
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        @Html.ActionLink(LocalizedText.UserProfileButtonText, MVC.Manage.Index(), new { title = LocalizedText.ManageMenuItem })
                    </li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">@LocalizedText.LogOffButtonText</a></li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(LocalizedText.RegisterButtonText, MVC.Account.Register(), new { id = "registerLink" })</li>
        <li>@Html.ActionLink(LocalizedText.LogInButtonText, MVC.Account.Login(), new { id = "loginLink" })</li>
    </ul>
}
