﻿@model System.Web.Mvc.HandleErrorInfo
@using LocalizedText = Raido.WageJournal.Web.Views.Localization.Shared.LocalizedText

@{
    ViewBag.Title = LocalizedText.ErrorPageHeading;
}

<h1 class="text-danger">@LocalizedText.ErrorPageHeading</h1>
<h2 class="text-danger">@LocalizedText.ErrorPageMessage</h2>

