﻿@model System.Web.Mvc.HandleErrorInfo
@using LocalizedText = Raido.WageJournal.Web.Views.Localization.Shared.LocalizedText

@{
    ViewBag.Title = LocalizedText.LockedOutHeading;
}

<hgroup>
    <h1 class="text-danger">@LocalizedText.LockedOutHeading</h1>
    <h2 class="text-danger">@LocalizedText.LockedOutMessage</h2>
</hgroup>
