﻿@using LocalizedText = Raido.WageJournal.Web.Views.Localization.Shared.LocalizedText
<div class="preloader-wrapper hidden">
    <span class="preloader-message">
        @LocalizedText.LoadingMessage
    </span>
    <img class="preloader-image" src="@Url.Content("~/Content/preloader.gif")" alt="@LocalizedText.LoadingMessage" />
</div>
