﻿@using Raido.WageJournal.Web.Areas.Companies.ViewModel
@using Raido.WageJournal.Web.Areas.Companies.Localization
@model CompanyMenuViewModel

@{
    string firstCompanyName = LocalizedText.NoCompanyName;
    if (Model != null && Model.AllUserCompanies.Count > 0 &&
        Model.AllUserCompanies.Any(c => c.Identifier == Model.CurrentCompanyIdentifier))
    {
        firstCompanyName = Model.AllUserCompanies.First(c => c.Identifier == Model.CurrentCompanyIdentifier).TradeName;
    }

    var otherCompaniesExceptCurrent = Model.AllUserCompanies.Where(uc => uc.Identifier != Model.CurrentCompanyIdentifier).ToList();
}

<li class="dropdown">
    <a class="dropdown-toggle" aria-expanded="true" role="button" data-toggle="dropdown" href="#">@firstCompanyName <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        @foreach (var company in otherCompaniesExceptCurrent)
        {
            <li>
                @Html.ActionLink(company.TradeName + (!company.IsActive ? "(" + LocalizedText.InactiveCompanyText + ")" : string.Empty), MVC.Companies.Employees.Index(company.Identifier))
            </li>
        }
        <li class="divider"></li>
        <li>
            <div class="col-xs-12">
                <a href="#" class="btn btn-default btn-block" data-toggle="modal" data-target="#addCompanyModal">@LocalizedText.AddNewCompanyButtonText</a>
            </div>
        </li>
    </ul>
</li>