﻿@using System.Collections.Generic
@using Raido.WageJournal.Contracts.ComplexTransferObjects
@using Raido.WageJournal.Extensions
@using LocalizedText = Raido.WageJournal.Web.Areas.Companies.Localization.LocalizedText
@model CompanyAndSettings
@{
    ViewBag.Title = string.Format(LocalizedText.CompanyDetailsTitle, Model.Company.TradeName);
}


<div class="panel-heading">
    <h2>@(ViewBag.Title + " " + (!Model.Company.IsActive ? "(" + LocalizedText.InactiveCompanyText + ")" : string.Empty))</h2>
</div>
<div class="panel-body">
    @using (Html.BeginForm(MVC.Companies.Companies.Details(), FormMethod.Post, new { id = "CompanyDetailsForm" }))
    {
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Company.FullName, new { data_identifier = Model.SaturdayOvertimeMultiplier.Identifier })
                    @Html.TextBoxFor(model => model.Company.FullName, new { required = "required", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Company.FullName)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Company.TradeName)
                    @Html.TextBoxFor(model => model.Company.TradeName, new { required = "required", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Company.TradeName)
                </div>
                <div class="form-group">
                    <label class="policy-type">@Model.AttendanceBonusAmount.PolicyType.GetDisplayName(typeof(Raido.WageJournal.Contracts.Enumerations.Localization.PolicyType))</label>
                    @Html.TextBoxFor(model => model.AttendanceBonusAmount.Value, new { type = "number", step = "any", placeholder = 0.ToString("F2"), @class = "form-control", data_identifier = Model.AttendanceBonusAmount.Identifier })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Company.IsActive)
                    @Html.CheckBoxFor(model => model.Company.IsActive)
                    @Html.ValidationMessageFor(model => model.Company.IsActive)
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="form-group">
                    <label class="policy-type">@Model.SaturdayOvertimeMultiplier.PolicyType.GetDisplayName(typeof(Raido.WageJournal.Contracts.Enumerations.Localization.PolicyType))</label>
                    @Html.TextBoxFor(model => model.SaturdayOvertimeMultiplier.Value, new { type = "number", step = "any", placeholder = 0.ToString("F2"), @class = "form-control", data_identifier = Model.SaturdayOvertimeMultiplier.Identifier })
                </div>
                <div class="form-group">
                    <label class="policy-type">@Model.SundayOvertimeMultiplier.PolicyType.GetDisplayName(typeof(Raido.WageJournal.Contracts.Enumerations.Localization.PolicyType))</label>
                    @Html.TextBoxFor(model => model.SundayOvertimeMultiplier.Value, new { type = "number", step = "any", placeholder = 0.ToString("F2"), @class = "form-control", data_identifier = Model.SundayOvertimeMultiplier.Identifier })
                </div>
                <div class="form-group">
                    <label class="policy-type">@Model.UnemploymentInsuranceFundPercentage.PolicyType.GetDisplayName(typeof(Raido.WageJournal.Contracts.Enumerations.Localization.PolicyType))</label>
                    @Html.TextBoxFor(model => model.UnemploymentInsuranceFundPercentage.Value, new { type = "number", step = "any", placeholder = 0.ToString("F2"), @class = "form-control", data_identifier = Model.UnemploymentInsuranceFundPercentage.Identifier })
                </div>
                <div class="form-group">
                    <label class="policy-type">@Model.WorkDayHours.PolicyType.GetDisplayName(typeof(Raido.WageJournal.Contracts.Enumerations.Localization.PolicyType))</label>
                    @Html.TextBoxFor(model => model.WorkDayHours.Value, new { type = "number", step = "any", placeholder = 0.ToString("F2"), @class = "form-control", data_identifier = Model.WorkDayHours.Identifier })
                </div>
            </div>
        </div>
    }
</div>
@section scripts{
    @Scripts.Render("~/bundles/company-details")
}